{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Notes App </title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href={% static 'jsprojects/style3.css' %}>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.2.4/marked.min.js"></script>
    <script src={% static 'jsprojects/script3.js' %} defer></script>
</head>
<body>
    <button class="add" id=add><i class="fas fa-plus"></i></button>

</body>
</html>